@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'BMJUA', sans-serif;
    height: 100%;
    background-color: rgb(22, 22, 22);
}
.container{
    display: grid;
    grid-template-columns: 3fr 1.5fr 1fr;
    grid-template-rows: 3fr 1fr;
    background-color: rgb(22, 22, 22);
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 80px;
}

.date{
    font-size: 2em; 
    color: rgb(255, 255, 255);  /* 흰색 */
}
.time{
    font-size: 7em;
    font-weight: bold;
    color: rgb(82, 255, 189);
}
.sec{
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(82, 255, 189);
}

.right{
    align-items: right;
}
.temperature{
    text-align: left;
    font-size: 4em;
    color: aliceblue;
}
.weatherDescription{
    text-align: left;
    font-size: 1em;
    color: aliceblue;
}

.dayinfo{
    font-size: 2em;
    color: aliceblue;
}